In [2]:
import sys
sys.path.append("../")

from src.data_loading import load_unified_dataset
from src.impact_model import load_events_and_impacts, merge_event_impacts

df = load_unified_dataset("../data/raw/ethiopia_fi_unified_data.xlsx")

events, impacts = load_events_and_impacts(df)
merged = merge_event_impacts(events, impacts)

merged.head()

,record_id_impact,record_type,category_impact,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,comparable_country,collected_by,collection_date,original_text,notes,parent_id,record_id_event,category_event,period_start_event,source_name_event
0,IMP_0001,impact_link,NaN,ACCESS,Telebirr effect on Account Ownership,NaN,NaN,15.0,NaN,percentage,...,Kenya,Example_Trainee,2025-01-20 00:00:00,NaN,Kenya M-Pesa showed +20pp over 5 years,EVT_0001,EVT_0001,product_launch,NaT,Ethio Telecom
1,IMP_0002,impact_link,NaN,USAGE,Telebirr effect on Telebirr Users,NaN,NaN,NaN,NaN,count,...,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,Direct subscriber acquisition,EVT_0001,EVT_0001,product_launch,NaT,Ethio Telecom
2,IMP_0003,impact_link,NaN,USAGE,Telebirr effect on P2P Transactions,NaN,NaN,25.0,NaN,percentage,...,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,New digital payment channel,EVT_0001,EVT_0001,product_launch,NaT,Ethio Telecom
3,IMP_0004,impact_link,NaN,ACCESS,Safaricom effect on 4G Coverage,NaN,NaN,15.0,NaN,percentage,...,NaN,Example_Trainee,2025-01-20 00:00:00,NaN,Network investment from competition,EVT_0002,EVT_0002,market_entry,NaT,News
4,IMP_0005,impact_link,NaN,AFFORDABILITY,Safaricom effect on Data Affordability,NaN,NaN,-20.0,NaN,percentage,...,Rwanda,Example_Trainee,2025-01-20 00:00:00,NaN,Competition typically reduces prices,EVT_0002,EVT_0002,market_entry,NaT,News

In [3]:
from src.impact_model import compute_numeric_impact

merged = compute_numeric_impact(merged)
merged[["related_indicator", "impact_pp", "lag_months"]]

     related_indicator  impact_pp  lag_months
0        ACC_OWNERSHIP        3.0        12.0
1   USG_TELEBIRR_USERS        3.0         3.0
2        USG_P2P_COUNT        3.0         6.0
3           ACC_4G_COV        1.5        12.0
4      AFF_DATA_INCOME        1.5        12.0
5      USG_MPESA_USERS        3.0         3.0
6       ACC_MM_ACCOUNT        1.5         6.0
7        ACC_OWNERSHIP        1.5        24.0
8          GEN_GAP_ACC        1.5        24.0
9      AFF_DATA_INCOME        3.0         3.0
10    USG_MPESA_ACTIVE        1.5         3.0
11       USG_P2P_COUNT        1.5         3.0
12       USG_P2P_COUNT        1.5         6.0
13     AFF_DATA_INCOME        0.5         1.0

In [4]:
from src.impact_model import build_event_indicator_matrix

matrix = build_event_indicator_matrix(merged)
matrix

Empty DataFrame
Columns: []
Index: []

In [6]:
matrix.shape

(0, 0)

In [7]:
matrix.head()

Empty DataFrame
Columns: []
Index: []

In [8]:
matrix.dtypes

Series([], dtype: object)

In [9]:
merged[[
    "parent_id",
    "indicator_code",
    "impact_direction",
    "impact_magnitude"
]].dropna(how="all").head(10)

  parent_id indicator_code impact_direction impact_magnitude
0  EVT_0001            NaN         increase             high
1  EVT_0001            NaN         increase             high
2  EVT_0001            NaN         increase             high
3  EVT_0002            NaN         increase           medium
4  EVT_0002            NaN         decrease           medium
5  EVT_0003            NaN         increase             high
6  EVT_0003            NaN         increase           medium
7  EVT_0004            NaN         increase           medium
8  EVT_0004            NaN         decrease           medium
9  EVT_0005            NaN         increase             high

In [10]:
merged["impact_direction"].value_counts(dropna=False)

impact_direction
increase    12
decrease     2
Name: count, dtype: int64

In [15]:
xls = pd.ExcelFile("../data/raw/ethiopia_fi_unified_data.xlsx")
xls.sheet_names

['ethiopia_fi_unified_data', 'Impact_sheet']